@{
    ViewBag.Title = "Cadastro";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
<div class="row container-login">
    <div class="col-lg-4 offset-lg-4 col-sm-8 offset-sm-2 ol-xs-6 offset-xs-3">
        <div class="card card-nav-tabs">
            <div class="card-header text-center card-header-primary">
                <h1>Cadastre-se</h1>
            </div>
            <div class="card-body">
                <validation-observer ref="formCadastro" >
                    <form id="formCadastro"  v-on:submit.prevent="validarCadastro" novalidate>
                        
                        <validation-provider name="usuário" vid="usuarioCadastro" v-slot="{ errors }"> 
                            <div class="form-group label-floating has-feedback">
                                <label class="control-label" for="usuarioCadastro">usuário</label>
                                <input placeholder="seu usuário" class="form-control" id="usuarioCadastro" v-model="usuario.login" type="text" v-bind:class="{'has-error': errors[0]}"
                                        minlength="6" maxlength="20"  required>
                                <span class="form-control-feedback">
                                    <i class="material-icons">account_circle</i>
                                </span>
                                <span class="has-error">{{ errors[0] }}</span>
                            </div>
                        </validation-provider>
                          
                        <validation-provider name="senha" vid="senhaCadastro" v-slot="{ errors }"> 
                            <div class="form-group label-floating has-feedback">
                                <label class="control-label" for="senhaCadastro">senha</label>   
                                <input placeholder="sua senha" class="form-control" id="senhaCadastro" v-model="usuario.senha" v-bind:type="verSenha ? 'text' : 'password'" v-bind:class="{'has-error': errors[0]}"
                                    minlength="8" maxlength="20"  required>
                                    <span class="form-control-feedback">
                                        <i class="material-icons can-click" v-on:click="verSenha = !verSenha">{{ verSenha ? 'lock_open' : 'lock' }}</i>
                                    </span>                                    
                                <span class="has-error">{{ errors[0] }}</span>
                            </div>                        
                        </validation-provider>

                        
                        <validation-provider name="senha" vid="senhaCadastroConfirmacao" rules="confirmed:senhaCadastro" v-slot="{ errors }"> 
                        <div class="form-group label-floating has-feedback">
                                <label class="control-label" for="senhaCadastro">confirmar senha</label>   
                                <input placeholder="confirmação" class="form-control" id="senhaCadastroConfirmacao" v-model="usuario.senhaConfirmacao" v-bind:type="verConfirmacao ? 'text' : 'password'" v-bind:class="{'has-error': errors[0]}"
                                    minlength="8" maxlength="20"  required>
                                    <span class="form-control-feedback">
                                        <i class="material-icons can-click" v-on:click="verConfirmacao = !verConfirmacao">{{ verConfirmacao ? 'lock_open' : 'lock' }}</i>
                                    </span>                                    
                                <span class="has-error">{{ errors[0] }}</span>
                        </div>
                        </validation-provider>

                        <div class="row">
                            <div class="col s6">
                                <a  href="@Url.Action("Login", "Home")">Conecte-se</a>
                                
                            </div>  
                            <div class="col s6">
                                <button class="btn btn-primary btn-fab btn-fab-mini btn-round float-right" type="submit">
                                    <i class="material-icons">person_add_alt_1</i>
                                </button>      
                            </div>                    
                        </div>           
                    </form>
                </validation-observer>
            </div>
            <div class="card-footer text-center text-muted">
                Nosso pequeno segredo
            </div>
        </div>
    </div>  
</div>  


@section  scripts{
    @Scripts.Render("~/bundles/cadastro")
}
        