@{
    ViewBag.Title = "Cadastro";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
<div class="row container-login">
    <div class="col-lg-6 offset-lg-3 col-sm-8 offset-sm-2">
        <h1>Cadastre-se</h1>
        <validation-observer ref="formCadastro" >
            <form id="formCadastro" class="form-inicial" v-on:submit.prevent="validarCadastro" novalidate>
                <div class="form-group">
                    <validation-provider name="usuário" vid="usuarioCadastro" v-slot="{ errors }"> 
                        <label for="usuarioCadastro">usuário</label>
                        <input placeholder="seu usuário" class="form-control" id="usuarioCadastro" v-model="usuario.login" type="text" v-bind:class="{'has-error': errors[0]}"
                            minlength="6" maxlength="20"  required>
                        <span class="form-text text-muted has-error">{{ errors[0] }}</span>
                    </validation-provider>
                </div>
    
                <div class="form-group">
                    <validation-provider name="senha" vid="senhaCadastro" v-slot="{ errors }"> 
                        <label for="senhaCadastro">senha</label>   
                        <input placeholder="sua senha" class="form-control" id="senhaCadastro" v-model="usuario.senha" type="password" v-bind:class="{'has-error': errors[0]}"
                            minlength="8" maxlength="20"  required>
                        <span class="form-text text-muted has-error">{{ errors[0] }}</span>
                    </validation-provider>
                </div>
                <div class="form-group">
                    <validation-provider name="confirmacao" vid="confirmacao" v-slot="{ errors }"> 
                        <span class="form-text text-muted has-error">{{ errors[0] }}</span>
                    </validation-provider>
                </div>
                <div class="row">
                    <div class="col s6">
                        <a  href="@Url.Action("Login", "Home")">Conecte-se</a>
                        
                    </div>  
                    <div class="col s6">
                        <button class="btn btn-primary btn-icon btn-round float-right" type="submit">
                            <i class="material-icons">send</i>
                        </button>      
                    </div>                    
                </div>           
            </form>
        </validation-observer>
    </div>
</div>  


@Scripts.Render("~/bundles/cadastro")
        