@{
ViewBag.Title = "Início";
}
<movie-add-card :callback="fazerRequestFilmes"></movie-add-card>

<categoria-add-card></categoria-add-card>

<div class="row mb-5">   
    <div class="col-sm-10 offset-sm-1 col-lg-8 offset-lg-2">
        <div class="row mb-3">
            <div class="col-lg-9 col-sm-12">
                <div class="form-group label-floating has-feedback">
                    <label class="control-label">nome do filme</label>
                          <input type="text"  placeholder="pesquisar..." class="form-control"  v-model="searchTerm" />
                    <span class="form-control-feedback">
                    <i class="material-icons">search</i>
                    </span>
                  </div>
            </div>            
        </div>

        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="form-group">
                    <label for="cmbCategorias">categorias</label>
                    <select v-model="searchCategoria" class="form-control selectpicker" data-style="btn btn-link" id="cmbCategorias">
                        <option v-for="categoria in categorias" :key="categoria.Id" v-bind:value="categoria.Id">{{categoria.Nome}}</option>
                    </select>
                </div> 
            </div>
            
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="form-check form-check-inline">
                    <label class="form-check-label">
                      <input class="form-check-input" type="checkbox" id="chkFilmesAssistidos" v-model="searchAssistidos"> filmes assistidos 
                      <span class="form-check-sign">
                          <span class="check"></span>
                      </span>
                    </label>
                  </div>
            </div>

        </div>

        <div class="row">
            <div class="col-12">
                <button type="button" class="btn btn-primary btn-round" data-toggle="modal" data-target="#novoFilmeModal">
                    <i class="material-icons">add_to_queue</i> filme
                </button>
                <button type="button" class="btn btn-primary btn-round" data-toggle="modal" data-target="#novaCategoriaModal">
                    <i class="material-icons">add_circle_outline</i> categoria
                </button>
            </div>
        </div>
    </div>  
</div>

<transition-group v-if="listaFilmesFiltrados.length > 0" name="slide-fade" tag="div">   
   <movie-card :filme="filme" v-for="filme in listaFilmesFiltrados" :key="filme.Id">
   </movie-card>
</transition-group>

<transition name="slide-fade" v-else>
    <div class="row">
        <div class="col-lg-8 offset-lg-2 col-sm-10 offset-sm-1">
            <div class="text-center">
                <h3 class="no-content"> não encontramos seus filmes... </h3>
                <img src="/Content/img/movie-gif.gif" class="img-raised rounded img-fluid" alt="image background">
            </div>
        </div>
    </div>
</transition>

@section scripts{
    @Scripts.Render("~/bundles/index")
}   