@{
ViewBag.Title = "Início";
}


<div class="row mb-5">
    <div class="col-lg-12 col-sm-10 offset-sm-1">
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">
                    <i class="material-icons">search</i>
                </span>
            </div>
            <input type="text" class="form-control" placeholder="pesquisar..." v-model="searchTerm">
            </div>
    </div>
</div>
<div v-if="listaFilmesFiltrados.length > 0"  >
    <div class="row" v-for="filme in listaFilmesFiltrados" :key="filme.Id">
        <div class="col-sm-10 offset-sm-1 col-lg-8 offset-lg-2">
            <div class="card">
                <div class="card-header card-header-rose">
                    <div class="card-icon">
                        <i class="material-icons" v-if="diferencaDias(filme.DtAdicionado) >= -5">new_releases</i>
                        <i class="material-icons" v-if="filme.Nome > 3">Favorite</i>
                        <i class="material-icons">hd</i>
                        <i class="material-icons" v-if="filme.Assistido">visibility</i>
                    </div>
                </div>
                <div class="card-body text-center">
                    <h4> {{ filme.Nome }}</h4>
                    <p class="card-text category"><strong>categoria(s):</strong>
                            <span v-if="filme.Categorias.length > 0">{{  filme.Categorias | categorias-concat }}</span>
                            <span v-else>esse filme não possuí categorias</span>
                        </p>
                    <p class="card-text" v-if="!!filme.Descricao"><strong>descrição:</strong> {{ filme.Descricao }}</p>   

                    <div class="text-center card-avaliacao" v-if="filme.Nota > 0">
                        <h4>avaliação:</h4>
                        <i class="material-icons" v-for="i in filme.Nota">favorite</i>
                    </div>                    
                    <div class="text-center" v-else> 
                        <h4> filme não avaliado</h4>
                    </div>
                    <br/>      
                    <button type="button" class="btn btn-primary btn-round" v-bind:disabled="filme.Assistido">
                        <i class="material-icons">play_circle_outline</i>
                        assistir
                    </button>
                    <button type="button" class="btn btn-primary btn-round" v-bind:disabled="filme.Nota > 0 || !filme.Assistido">
                        <i class="material-icons">edit</i>avaliar
                    </button>  

                    <div class="card-footer text-muted"> {{ filme.DtAdicionado | from-now}} </div>
                </div>
            </div>
        </div>    
    </div>

</div>
<div class="row" v-else>
    <div class="col-lg-8 offset-lg-2 col-sm-10 offset-sm-1">
        <div class="text-center">
            <h3 class="no-content"> não encontramos seus filmes... </h3>
            <img src="/Content/img/movie-gif.gif" class="img-raised rounded img-fluid" alt="image background">
        </div>
    </div>
</div>





    @section scripts{
    @Scripts.Render("~/bundles/index")
    }